<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NDFD_WEB_REF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <NDFD_WEB_REF.Properties.Settings>
            <setting name="NDFD_WEB_REF_gov_weather_graphical_ndfdXML" serializeAs="String">
                <value>https://graphical.weather.gov:443/xml/SOAP_server/ndfdXMLserver.php</value>
            </setting>
        </NDFD_WEB_REF.Properties.Settings>
    </applicationSettings>
</configuration>